<html lang="en">
<head>
</head>
<body>
.header {
  font-family: "Comic Sans MS";
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.omori-gif {
  display: block;
  margin: 20px;
  position: relative;
  left: 500px;
  top: 300px; 
}
</body>
</html>
