<html lang="en">
<head>
</head>
<body>
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.omori-gif {
  display: block;
  margin: 20px auto;
  position: relative;
  left: 50px;
  top: 30px; 
}
</body>
</html>
