html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  margin: 0;
  height: 80px;
  z-index: 100;
  text-align: center;
  background-color: #7d4ad4;
  color: #000000;
  font-family: "Comic Sans MS";
  font-size: 27px;
}

.header h1 {
  margin: 0;
}

.omori-gif {
  position: absolute;
  bottom: 39px;
  right: 0;
  width: 300px;
}

.sidebar {
  height: 100%;
  width: 140px;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #8f8f8f;
  color: #000000;
  font-family: "Comic Sans MS";
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  display: flex;
}

.stuff {
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.text {
  z-index: 1;
  margin-left: 10px;
  font-family: "Comic Sans MS";
}

.wikipedia {
  position: absolute;
  right: 0;
  top: 100px;
  width: 200px;
}

.p1 {
  margin-right: 700px;
}

.p2 {
  margin-right: 700px;
}

.footer {
  margin: 0;
  height: 45px;
  z-index: 100;
  text-align: center;
  background-color: #7d4ad4;
  color: #000000;
  font-family: "Comic Sans MS";
  font-size: 20px;
}
